@import "grid.css";
@import "style.css";

body {

	background-color: #ccffdd;
	margin: 0;
}



.menu {
	
	top: 0;
	left: 0;
	right: 0;
	background-color: #ccffdd;
}


}


.logo {
	margin-top: 50px;
	text-align: center;
	padding-left: 50%;
	width: 300px;
	height: 150px;

}

.menu ul {
	text-align: center;
}

.menu li {
	display: inline-block;
}


.menu a {
	color: #009900;
	text-decoration: bold;
	display: inline-block;
	padding: 8px 25px;
	font-size: 25px;

}

.menu a:hover {
	color: red;

}


.container1 {
	max-width: 1000px;
	margin: 0 auto;

}

.container2 {
	max-width: 1000px;
	margin: 0 auto;
}


.clutchkit,
.disk,
.drums {
	border: 5px solid #009900;
	height: 500px;
	background: #d9f2d9;
	margin-right: 10px;
	margin-left: 10px;

}
.clutchkit p,
.disk p,
.drums p {
	font-family: Tahoma;
	font-size: 20px;
	text-decoration: bold;
	margin: 2px;
}


.clutchkit img,
.disk img,
.drums img {
	padding: 0;
	margin: 0;
	height: 160px;
	width: 160px;

}

.item {
	height: 300px
}

.item img {
	height: 200px;
	width: 271.75px;
}

.history h2 {
	text-decoration: bold;
	font-family: Cambria;
	font-size: 20px;
	margin: 20px;
	text-align: center;
}

.txt {
	text-align: center;
	font-family: Cambria;
	font-size: 12px;
	text-decoration: bold;
}

.contact ul {
	display: inline;
	text-align: center;
	text-decoration: none;

}

.our_email a:hover{
	color: red;

}

.registration a:hover{
	color:red;

}

.submit {
	text-align: center;
	 border-radius:10px; 
}

.table fieldset {
	border-radius: 10px;
	border: 3px solid #009900;
	background: #d9f2d9;
}

.pole {
	border-radius: 10px;
	border: 3px solid #009900;
	background: #d9f2d9;
	width: 25%;
	
}