@import url(grid.css);

.container_2 {
	border-radius: 10px;
	height: 150px;
	width: 100%;
}

.container_1 {
	margin-top: 20px;
	width: 60%;
}
.menu 
{
	
	width: 100%;
	height: 80px;
	
	margin-left: 50%;

}

.fixed {
	position: fixed;
	left: 600px;
}


.figure 
{
	display: inline;
	float: left;
	width: 50%;
}
.figure1 
{
	display: inline;
	float: right;
	width: 40%;
}

.footer {
	font-family: Tahoma;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.text {
	font-size: 20px;
}

}
.menu ul 
{

	margin: 0px;
	padding: 10px;
	text-decoration: none;
}
.menu li
{
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	padding-left: 25px;


}


.menu a 
{
	color: green;
	display: inline-block;
	padding: 0px;
	text-decoration: none;
	text-align: center;
	margin: 0;
	font-size: 25px;
	font-weight:bold;
	
}
.menu a:hover 
{
	color: lime;
}


p 
{
	font-family: "Cambria";
}
h2 
{
	font-family: "Cambria";
}


